@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-background: #E8EDDF;
  --foreground: #242423;
}

@media (prefers-color-scheme: dark) {
  :root {
    --green-background: #E8EDDF;
    --foreground: #242423;
  }
}

body {
  color: var(--foreground);
  background: var(--green-background);
}
